<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngulaJs</title>
  <script src="../../public/lib/angular.js" charset="utf-8"></script>
  <script src="../../public/js/12-filters.js" charset="utf-8"></script>
</head>
<body>

  <!--
  <div ng-app="myApp" ng-controller="personCtrl">
  <p>El apellido es {{ lastName | uppercase }}</p>
  <p>El apellido es {{ lastName | lowercase }}</p>
</div>
-->

<!-- <div ng-app="myApp" ng-controller="costCtrl">
<input type="number" ng-model="quantity">
<input type="number" ng-model="price">

<p>Total = {{ (quantity * price) | currency}}</p>
</div>
-->

<!-- <div ng-app="myApp" ng-controller="namesCtrl">
<ul>
<li ng-repeat="x in names| orderBy:'country'">
{{ x.name + ', ' + x.country}}
</li>
</ul>
</div>
-->

<div ng-app="myApp" ng-controller="namesCtrl">

  <p>Filtering input:</p>

  <p><input type="text" ng-model="test"></p>

  <ul>
    <li ng-repeat="x in names| filter:test | orderBy:'country'">
      {{ (x.name | uppercase) + ', ' + x.country}}
    </li>
  </ul>

</div>

</body>
</html>
