<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngulaJs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="todoAp">
  <div ng-app>
    <label>Nombre: </label>
    <input type="text" placeholder="Escribe tu nombre" ng-model="nombre">
    <input type="text" placeholder="Color" ng-model="color">
    <hr>
    <h1 class="text-{{color}}">Hola {{nombre}}!</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
  <script src="../../public/js/15-controlador.js" charset="utf-8"></script>
</body>
</html>
